/* Odd-Numbered Table Rows + Text Colour */
.ag-theme-balham .ag-row:nth-child(odd) {
  background-color: #fff;
  color: #000;
}

/* Even-Numbered Table Rows + Text Colour */
.ag-theme-balham .ag-row:nth-child(even) {
  background-color: #fff;
  color: #000;
}

/* Table Row Mouse Hover */
.ag-theme-balham .ag-row-hover:nth-child(odd),
.ag-theme-balham .ag-row-hover:nth-child(even) {
  background-color: #daf1ff;
}

/* Table Row Selected */
.ag-theme-balham .ag-row-selected:nth-child(odd),
.ag-theme-balham .ag-row-selected:nth-child(even) {
  background-color: #b7e4ff;
}

/* Dropdown Option Selected Colour */
.ms-drop.bottom > ul > selected,
.ms-drop ul > li.hide-radio.selected {
  background-color: #007bff;
}

/* Dropdown Option Hover Colour */
.ms-drop.bottom > ul > li:hover {
  background-color: #daf1ff;
}


/* Dark Icons */
.tooltipImage {
  content:url('./../resources/app.asar/assets/tooltip.png');
}
img[src*='statatk'] {
  content:url('./../resources/app.asar/assets/statatkdark.png');
}
img[src*='statatkpercent'] {
  content:url('./../resources/app.asar/assets/statatkpercentdark.png');
}
img[src*='statdef'] {
  content:url('./../resources/app.asar/assets/statdefdark.png');
}
img[src*='statdefpercent'] {
  content:url('./../resources/app.asar/assets/statdefpercentdark.png');
}
img[src*='stathp'] {
  content:url('./../resources/app.asar/assets/stathpdark.png');
}
img[src*='stathppercent'] {
  content:url('./../resources/app.asar/assets/stathppercentdark.png');
}
img[src*='statspd'] {
  content:url('./../resources/app.asar/assets/statspddark.png');
}
img[src*='statcr'] {
  content:url('./../resources/app.asar/assets/statcrdark.png');
}
img[src*='statcd'] {
  content:url('./../resources/app.asar/assets/statcddark.png');
}
img[src*='stateff'] {
  content:url('./../resources/app.asar/assets/stateffdark.png');
}
img[src*='statres'] {
  content:url('./../resources/app.asar/assets/statresdark.png');
}
img[src*='starlight'] {
  content:url('./../resources/app.asar/assets/star.png');
}
img[src*='copylight'] {
  content:url('./../resources/app.asar/assets/copy.png');
}
img[src*='editlight'] {
  content:url('./../resources/app.asar/assets/edit.png');
}
img[src*='locklight'] {
  content:url('./../resources/app.asar/assets/lock.png');
}
img[src*='reforgelight'] {
  content:url('./../resources/app.asar/assets/reforge.png');
}
img[src*='trashlight'] {
  content:url('./../resources/app.asar/assets/trash.png');
}





/* Misc Edits */
.tab-panel {
  padding: 2px 8px;
  padding-bottom: 8px;
}

#myGrid {
  margin-right: 3px;
}

#gridRightPanel {
  margin-left: 3px;
}

#heroes-section .reforgeSwitch .switch {
  margin-top: 4px;
  margin-left: 4px;
  transform: translateY(1px);
}